.navHeader{
    background-color: rgb(0,121,107) !important;
    color: white;
    font-family: Roboto, sans-serif;
}
.navTitleBar{
    text-decoration: none;
    color: white;
}

body{
    background: #f0f0f0;
}
.titleUnderline{
    border-bottom: 2px solid black;
}
/*This is used a few times in disclaimer, about, privacy*/
.paperBody{
    background: white !important;
    width: 80vw;
    text-align:center;
    display:block;
    margin:0em auto;
}
.whyFlapp{
    width: 90vw;
}

.pNotice{
    font-size: small;
}

.innerPaper{
    padding: 1em;
    margin: 1em;
}

/*This is for the WhyFlapp svgs*/

.svgContainer{
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.svgImg{
    width: 28em;
    height: 15em;
    margin: 1em;
}

.sOne{
    background-image: url('../imgs/flappcards_1a.svg');
    background-repeat: no-repeat;
    background-size: contain ;
    flex: 1;
}
.sTwo{
    background-image: url('../imgs/flappcards_2a.svg');
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}
.sThree{
    background-image: url('../imgs/flappcards_3a.svg');
    background-repeat: no-repeat;
    background-size: contain;
    flex:1;
}
.svgBox{
    margin: 1em;
}