/* Used to style landing_page.js*/

#mobileIntro{
    display: none;
}

@media (max-width: 768px) {
    #Intro{
        display: none;
    }
    #mobileIntro{
        display: block;
        font-size: 0.5em;
        padding-top: 0.5em;
    }
    .landingPageContentContainerDiv {
        flex: 1;
        margin: 10px;
        text-align: center;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-flow: column-reverse;
    }
    div.landingPageContentContainerDiv > div {
        width: 100%;
    }
}

.title {
    cursor: pointer;
}

.landingPageContentContainerDiv {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.infoTextExtendedDiv {
    flex: 4;
    margin: 10px;
    text-align: center;
}

.infoText {
    margin:5%;
    color: black;
    font-weight: 900;
    font-size: 1.5em;
    font-family: Roboto,sans-serif;
    text-shadow:2px 0 2px rgba(255,255,255,0.7);
    /*  opacity:0.7 */
}
.login{
    width: 500px;
    margin: 0px;
}
.registrationPaper{
    width:100%;
    text-align: center;
    display: block;
    margin: auto;
}
.infoTextExtendedContainerDiv .landingPageContainerDiv {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    background-image: url('../imgs/home2.JPG');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* CSS to make the div containing the registration form look "right"*/
div.landingPageContentContainerDiv > div {
    box-shadow: rgb(136, 136, 136) 0px 5px 2.5px !important;

}

.infoText:last-child {
    padding-bottom: 0.2em;
}

