/*This removes Chromes yellow autofill bg*/
@-webkit-keyframes autofill {
    to {
        color: #000000;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@media (max-width: 500px) {
    .loginFormFieldsDiv {
        display: flex;
        display: -webkit-flex !important;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
    }
    .loginFormFieldsDiv > div {
        display: flex;
        display: -webkit-flex !important;
        flex-flow: row nowrap;
    }
}