/*
Used for dialog components on menuItem clicks and copying stacks in
the login folder
*/

.popUpTitle{
    text-align: center  ;
}
.popUpBtnContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.loginContent{
    border:5px solid black;
}

.loginOverlay,.popUpOverlay{
    background: transparent !important;
}