.changeContainer {
    text-align: center;
    /*height: 600px;*/
}

.profileBtnContainer {
    margin: 1em;
}

.passSubmitContainer, .passClearContainer {
    padding: 1em;
}
.passwordReqs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reqOne, .reqTwo, .reqThree, .reqFour, .reqFive {
    margin: 8px;
}