.resetForm {
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center !important;
    text-align: -webkit-center !important;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 12px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    background-color: rgb(240,240,240);
    padding: 1em;
}

.header {
    margin: 0.2em;
    padding: 0.1em;
    font-family: Roboto, sans-serif;
}

.body {
    background-color: rgb(240,240,240) !important;
}

.passwordInfo {
    font-size: 0.75em;
    font-family: Roboto, sans-serif;
    padding: 0.2em;
}