.container {
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 67vh;
}

.centered {
    text-align: center;
    display: inline-block;
    margin-top: 2em;
    position: relative;
}
#previous{
    margin: 1em;
    float: left;
    height: 48px;
    width: 48px;
    padding: 24px;
    cursor: pointer;
}
#next{
    margin: 1em;
    float: right;
    height: 48px;
    width: 48px;
    padding: 24px;
    cursor: pointer;
}
#right {
    text-align: center;
}
#wrong {
    text-align: center;
    background-color: red;
}
#questionCard{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    height: 100%;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transition: 1s;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
}

#question{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    margin: 0;
}
#answer{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: inline-block;
    z-index: 1;
    transform: rotateY(180deg);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    position: relative;
    margin: 0;
}
#questionCard.flippedCard{
    transform: rotateY(180deg);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    text-align: center;
    background: transparent;
}

#questionCard.flippedCard > #question {
    display: none;
}

#FlipMsg {
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* ----------- iPhone 6 ----------- */

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .container {
        height: 36vh;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .container {
        height: 43vh;
    }
}