<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        .notFound{
            background-image:url('../imgs/404flash.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height:100vh;
            position: relative;
        }
        body{
            margin:0
        }
        .errorMsg{
            position: absolute;
        }
    </style>
</head>
<body>
<div class="notFound">
    <div class="errorMsg">
        <h1>404 Error</h1>
    </div>
</div>
</body>
</html>
<!--resultCount=conut($results)-->
<!--for ($i=0;i<ocunt($results);i++)-->