.centered {
    text-align: center;
    display: inline-block;
    margin-top: 2em;
}
#previous{
    margin: 1em;
    float: left;
    height: 48px;
    width: 48px;
    padding: 24px;
    cursor: pointer;
}
#next{
    margin: 1em;
    float: right;
    height: 48px;
    width: 48px;
    padding: 24px;
    cursor: pointer;
}
#right {
    text-align: center;
}
#wrong {
    text-align: center;
    background-color: red;
}
#questionCard {
    display: inline-block;
    width: 100%;
    transition: transform 4s;
    text-align: center;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    justify-content: center;
    height: 67vh;
}

.flippedCard {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

#answer {
    text-align: center;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

#question {
    text-align: center;
}
#FlipMsg {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    #questionCard {
        height: 43vh;
    }
}