@media (min-width: 1600px) {
    .cardStackList {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: center;
    }

    .cardStackList > div {
        width: 33em;
        height: 20em;
        min-height: 15em;
        margin: 1em;
    }
}

@media (min-width: 667px) {
    .cardStackList {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: center;
    }

    .cardStackList > div {
        width: 33%;
        height: 20%;
        min-height: 15%;
        margin: 1em;
    }
}

/* Media query for smaller screen sizes*/
@media (min-width: 375px) and (max-width: 667px) {
    .cardStackList {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
    }

    .cardStackList > div {
        width: 10%;
        height: 6%;
        min-height: 3%;
        margin: 1em;
    }
}
@media (max-width: 600px) {
    .cardStackList {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        /*justify-content: center;*/
    }

    .cardStackList > div {
        width: 10%;
        height: 6%;
        min-height: 3%;
        margin: 1em;
    }
}

.stackActions {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.stackActions > div  {
    margin: 1em;
}



